
/app/ClipboardMonitorApp/.idea
/app/ClipboardMonitorApp/.idea
/app/ClipboardMonitorApp/.idea
/app/ClipboardMonitorApp/.idea
/app/ClipboardMonitorApp/.idea
app/ClipboardMonitorApp/.idea/misc.xml
app/ClipboardMonitorApp/.idea/misc.xml
app/ClipboardMonitor/.idea/compiler.xml
app/ClipboardMonitor/.idea/deploymentTargetSelector.xml
app/ClipboardMonitor/.idea/gradle.xml
app/ClipboardMonitor/.idea/kotlinc.xml
app/ClipboardMonitor/.idea/migrations.xml
app/ClipboardMonitor/.idea/misc.xml
app/ClipboardMonitor/.idea/render.experimental.xml
web_go/.idea/modules.xml
web_go/.idea/vcs.xml
web_go/.idea/web_go.iml
web2_go/.idea/inspectionProfiles/Project_Default.xml
web2_go/.idea/modules.xml
web2_go/.idea/vcs.xml
web2_go/.idea/web_go.iml
