<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Clipboard Data</title>
</head>
<body>
    <div class="container">
        <h1>Clipboard Data</h1>
        <div id="clipdata-container"></div>
        <button onclick="refreshData()">刷新数据</button>
        <button onclick="saveData()">保存数据</button>
    </div>

    <script>
        async function fetchData() {
            const response = await fetch('/api/clipdata');
            const data = await response.json();
            const container = document.getElementById('clipdata-container');
            container.innerHTML = '';
            for (const [seq, item] of Object.entries(data)) {
                container.innerHTML += `
                    <div>
                        <label>${item['key']}</label>
                        <textarea rows="3" cols="30" id="t_${item['key']}" style="width: 100%;" onclick="copyToClipboard('${item['key']}')"></textarea>
                    </div>`;
                document.getElementById("t_"+item['key']).innerHTML = item['value'];
                //alert(document.getElementById("t_"+item['key']).value)
            }
        }

        async function saveData() {
            const data = {};
            for (let i = 0; i < 10; i++) {
                const key = 'c' + i;
                data[key] = document.getElementById("t_"+key).value;
            }

            await fetch('/api/clipdata', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data),
            });
        }

        async function refreshData() {
            await fetchData();
        }

        window.onload = fetchData;

        // 将选中的textarea内容复制到剪贴板
        function copyToClipboard(id) {
            // const text = document.getElementById("t_"+id).value;
            // if (navigator.clipboard) {
            //     navigator.clipboard.writeText(text)
            //         .then(() => {
            //             console.log('Text copied to clipboard');
            //         })
            //         .catch(err => {
            //             console.error('Failed to copy text: ', err);
            //         });
            // }
            document.getElementById("t_"+id).select();
            document.execCommand('copy');
        }
    </script>
</body>
</html>
